.score-board{
    width: 300px;
    height: 145px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    border: 3px solid rgb(45, 137, 223);
    border-radius: 20px;
}

.players, .score{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    gap: 15px;
}

h4{
    margin-left: 65px;
    font-size: small;
}

h3{
    font-size: medium;
    color: hsl(0, 0%, 75%);
}


.line-1{
    position: absolute;
    background-color: hsl(204, 68%, 65%);;
    border-radius: 10px;
    height: 1px;
    width: 250px;
    margin-left: 25px;
    margin-top: 45px;
}

.line-2{
    position: absolute;
    background-color: hsl(204, 68%, 65%);
    border-radius: 10px;
    height: 1px;
    width: 250px;
    margin-left: 25px;
    margin-top: 105px;
}


@media (max-width: 1115px){
    .score-board{
        width: 350px;
        height: 70px;
        display: flex;
        flex-direction: column;
        border: 3px solid rgb(45, 137, 223);
        border-radius: 20px;
        justify-content: center;
        margin-top: -10px;
    }

    .players, .score{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 100px;
        margin-left: 0px;
        height: 30px;
    }

    .score{
        gap: 117px;
        border-top: 2px solid hsl(204, 68%, 65%);
        background-color: hsl(219, 41%, 23%);
        border-bottom: 2px solid rgb(45, 137, 223);
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 4px;
        padding-bottom: 5px;
    }

    .line-1, .line-2{
        display: none;
    }

    h3, h4{
        display: flex;
        align-items: center;
        margin-left: 0px;
    }

}
